*{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  position: sticky;
  top: 0;
  background-color: white ;
  border-bottom: 1px solid #ddd;
}
.logo{
  font-size: 2rem;
  font-weight: bold;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.navbar ul{
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
.navbar ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}  
.hero{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10%;
  flex-wrap: wrap;
}
.hero-content{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 20px;
}
.btn{
  background-color: green;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  background-color: rgb(0, 255, 0);
}
section {
 display: flex;
 justify-content: space-evenly;
 text-align: center;
 padding: 5%;
}
.card{
  background: white;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: left;
}
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
  margin-top: 50px;
}
@media(max-width: 768px){
  .hamburger{
    display: block;
  }
  .navbar.show{
    display: block;
  }
  .navbar{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  }
  .navbar ul{
    flex-direction: column;
    padding: 10px;
  }
  .navbar ul li {
    margin: 10px 0;
    text-align: center;
  }
  .logo{
  font-size: 1rem;
  font-weight: bold;
  }
  .hero{
  flex-direction: column;
  }
  section{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}